
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Limelight&display=swap');

.registrationButton{
    width: 100% !important;
    display: block !important;
}

.navText{
    font-family: 'Fascinate' !important;
  }
