
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Limelight&display=swap');

.navText{
    font-family: 'Fascinate' !important;
  }

.loginButton{
  width: 100% !important;
  display: block !important;
  background: #ff84eb !important;
  color:rgb(0, 0, 0) !important;
}

.flixColor{
  color: #ff84eb !important;
}

.logCardBodyStyle{
  font-family: 'Leto' !important;
    background: #55fcfc !important; 
}