
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Limelight&display=swap');

.navText{
    font-family: 'Fascinate' !important;
  }

.loginButton{
    width: 100% !important;
}

.navText{
    font-family: 'limelight' !important;
  }